@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap");

html {
  background-color: #00204a;
  font-family: "Dancing Script", cursive;
}

h1 {
  color: black;
  text-transform: uppercase;
  font-size: 1.9em;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  background: no-repeat top center url(../img/background.png);
  background-size: contain;
  max-width: 500px;
  height: 750px;
  margin: auto;
  margin-top: 3%;
  box-sizing: border-box;
}

#heading {
  text-align: center;
  margin-top: 37px;
  font-size: 1rem;
  font-weight: 600;
}

#datePicker {
  font-size: 1.3rem;
  background: none;
  border: none;
  text-align: center;
}

.box {
  overflow: auto;
  max-height: 560px;
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.75);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.item {
  display: flex;
  align-items: center;
  margin: auto 30px;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 10px;
}

p {
  margin: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  border-width: 0;
}

a:hover {
  cursor: pointer;
  background-color: #7d4dcf;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  text-align: center;
  margin-top: 1%;
}
